@import url('https://fonts.cdnfonts.com/css/mintaka');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.navbar-brand-style {
    color: #3C4242;
    font-family: 'Mintaka', sans-serif;
    font-size: 34.064px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-color {
    background-color: #FFF;
}

.nav-link {
    color: #3C4242;
    font-family: Causten;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputBox {
    display: flex;
    position: relative;
    width: 267px;
    align-items: center;
    gap: 12px;
    
}


.inputBox input {
    padding: 15px, 0px;  
    border: none;
    outline: none;
    width: 100%;
    background: #F1F1F1;
    border-radius: 8px;
    font-size: 1em;
    height: 45px;
    width: 267px;
    align-items: center;
    padding-left: 5px;
    gap: 12px;
}

.inputBox i {
    position: absolute;
    left: 0;
}

.icon-container {
    display: flex;
}

.icon-item {
    padding-top: 8px;
    position: relative;
    width: 44px;
    height: 44px;
    background: #F1F1F1;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}